USE [master]
GO
/****** Object:  Database [AssignmentPRJ321_2]    Script Date: 6/11/2019 9:04:31 PM ******/
CREATE DATABASE [AssignmentPRJ321_2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AssignmentPRJ321_2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS2014\MSSQL\DATA\AssignmentPRJ321_2.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AssignmentPRJ321_2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS2014\MSSQL\DATA\AssignmentPRJ321_2_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AssignmentPRJ321_2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AssignmentPRJ321_2]
GO
/****** Object:  Table [dbo].[tbl_Accessories]    Script Date: 6/11/2019 9:04:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Accessories](
	[AccessoryID] [varchar](15) NOT NULL,
	[AccessoryName] [varchar](50) NOT NULL,
	[Brand] [varchar](50) NOT NULL,
	[Description] [varchar](500) NOT NULL,
	[Price] [float] NOT NULL,
	[isDelete] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_Acessoried] PRIMARY KEY CLUSTERED 
(
	[AccessoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_Accessories] ([AccessoryID], [AccessoryName], [Brand], [Description], [Price], [isDelete]) VALUES (N'A001', N'iPhone 7 32GB', N'Apple', N'Apple', 5000, 0)
INSERT [dbo].[tbl_Accessories] ([AccessoryID], [AccessoryName], [Brand], [Description], [Price], [isDelete]) VALUES (N'A002', N'iPhone 7 Plus', N'Apple', N'Apple', 200, 0)
USE [master]
GO
